extends ../base
include ../mixins/text

block content 
    div.profile__data
        img(src=user.avatarUrl).avatar
        h3=user.name
    div.home__text
        each item in texts
            +text(item)
        else 
            sapn.empty__message No Text found